@model OrdersIndexVM

@{
    ViewBag.Title = "Index";
}

<h2>Orders for customer: @Model.CustomerName</h2> 

@if (Model.Orders.Count() > 0)
{
    @ShowOrders()
}
else
{
    <center>
        <h2 style="color: red">No orders available</h2>
        <h4>
            @Html.ActionLink("Go back to customers", "Index", "Customers", null, null)
        </h4>
    </center>
    
}

@helper ShowOrders()
{
    <table class="table">
        <tr>
            <th>
                Order Date
            </th>
            <th>
                Total price
            </th>
            <th>
                Products
            </th>
        </tr>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Date)
                </td>
                <td>
                    @item.TotalPrice
                </td>
                <td>
                    @Html.ActionLink("Products", "Index", "Products", new { OrderID = item.Order.ID }, null)
                </td>
            </tr>
        }

    </table>
}
