@model FurnitureProject.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

@section JQuery
{
    <script type="text/javascript">
        $(document).ready(function()
        {
            $("#firstImageUploadFile").change(function () {
                $("#firstImageUpload").submit();
            });

            $("#ImageChangeFile").change(function () {
                if (this.files[0].size > 5000000)
                {
                    $("#textSuccess").text("The file cannot be larger than 5mb.");
                }
                else
                {
                    $("#ImageChange").submit();
                }
            });
        })
    </script>
}
<p class="text-success" style="font-size: 2em;" id="textSuccess"></p>
<p class="text-success" style="font-size: 2em;">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <h2>Avatar</h2>
    <div class="thumbnail" style="max-width: 150px; min-height: 150px;">
        @if (String.IsNullOrEmpty(Model.ImagePath))
        {
            <form action="" method="post" enctype="multipart/form-data" id="firstImageUpload">
                <center>
                    <label class="fileUpload">
                        <input type="file" class="hidden" name="file" id="firstImageUploadFile" />
                        <span class="glyphicon glyphicon-upload" style="font-size: 3em; color: #208fb2;"></span>
                    </label>
                </center>
            </form>
        }
        else
        {
            <img src="@Url.Content("~/Content/Images/" + System.IO.Path.GetFileName(Model.ImagePath))" />
            <form action="" method="post" enctype="multipart/form-data" id="ImageChange">
                <ceter>
                    <label class="fileChange">
                        Change
                        <input type="file" class="hidden" name="file" id="ImageChangeFile" />
                    </label>
                </ceter>
            </form>
            <form action="@Url.Action("RemoveAvatar")" method="post" enctype="multipart/form-data" id="RemoveAvatarForm">
                <ceter>
                    <label class="fileChange">
                        Remove
                        <input type="submit" class="hidden" id="RemoveAvatar" />
                    </label>
                </ceter>
            </form>
        }
    </div>
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
        *@
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
    </dl>
</div>
