@model ProductsIndexVM

@{
    ViewBag.Title = "Index";
}

<h2> Products </h2>

@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <p>
        Product name: @Html.TextBox("SearchString")
        Price: @Html.TextBoxFor(model => Model.Price) 
        Less than? @Html.CheckBox("IsLessThan")
        <input type="submit" value="Search" />
    </p>
}
<p>@Html.ActionLink("Add new product", "AddProduct", "Products", null, new { @class = "btn btn-info" })</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Weight
        </th>
        <th>
            Description
        </th>
        <th>
            Barcode
        </th>
        <th>
            Sold last month
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model.Products) {
    <tr class="trlink">
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Barcode)
        </td>
        <td>
            @item.SoldLastMonth
        </td>
        <td>
            @using (Html.BeginForm("EditProduct", "Products", new { prodId = item.Product.ID }, FormMethod.Post))
            {
                <input type="submit" class="btn-link" value="Edit"/>
            }
        </td>
        <td>
            @using (Html.BeginForm("DeleteProduct", "Products", new { productId = item.Product.ID }, FormMethod.Post))
            {
                <input type="submit" class="btn-link" value="Delete" onclick="return confirm('Are you sure?')" />
            }
        </td>

    </tr>
}

</table>
