@using FurnitureProject.Common

@model CustomerIndexVM

@{
    ViewBag.Title = "Customers list";
    int rowNumber = Model.PageNumber * Model.RowsPerPage;
    Customer customer = new Customer();
}

<p>
    Items per page: @Html.ActionLink("25", "Index", new { RowsPerPage = 25, PageNumber = 0  })  |
                    @Html.ActionLink("50", "Index", new { RowsPerPage = 50, PageNumber = 0  })  |
                    @Html.ActionLink("100", "Index", new { RowsPerPage = 100, PageNumber = 0 }) |
</p>

<ul class="pagination pagination-sm">
@for (int i = 0; i <= Model.NumberOfPages; i++ )
{
     <li>
        @Html.ActionLink((i + 1).ToString(), "Index", new { RowsPerPage = Model.RowsPerPage, PageNumber = i })
     </li>
}
</ul>
<p>@Html.ActionLink("Add new customer", "AddCustomer", "Customers", null, new { @class = "btn btn-info" })</p>
<table class="table">
    <tr>
        <td>
            <b>Row Number</b>
        </td>
        <th>
            @Html.DisplayNameFor(model => customer.Bulstat)
        </th>
        <th>
            @Html.DisplayNameFor(model => customer.MOL)
        </th>
        <th>
            @Html.DisplayNameFor(model => customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => customer.Address)
        </th>
        <th>
            Orders
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model.Customers)
{
    rowNumber++;
    <tr class="trlink">
        <td>
            @(rowNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bulstat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Orders", "Index", "Orders", new { CustomerID = item.ID }, null)
        </td>
        <td>
            @using (Html.BeginForm("EditCustomer", "Customers", new { custId = item.ID }, FormMethod.Post, new { id = "DeleteForm" }))
            {
                <input type="submit" class="btn-link" value="Edit"/>
            }
        </td>
        <td>
            @using (Html.BeginForm("DeleteCustomer", "Customers", new { customerId = item.ID }, FormMethod.Post, new { id = "DeleteForm"}))
            {
                <input type="submit" class="btn-link" value="Delete" onclick="return confirm('Are you sure?')"/>
            }
        </td>
    </tr>
}

</table>
